# App status: DEV or TEST
NODE_ENV=DEV
# Port for the HTTP service
PORT=3000

# MongoDB connection — URI built dynamically from these
MONGO_USER=ro-user
MONGO_PASS=oJyJGwv86BX01boP
MONGO_HOST=cluster0.rkyr22f.mongodb.net
MONGO_DB=express-app

LOG_LEVEL=info
CORS_ORIGIN=*
